body {
    background-color: bisque;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    border: 2px solid black;
    overflow: hidden;
}

.square {
    background-color: lightgrey;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
}